[submodule "shared"]
	path = shared
	url = git@divopsor:divopsor/div-frontend-shared.git
[submodule "div.homes/hello-world"]
	path = div.homes/hello-world
	url = git@divopsor:divopsor/div.homes-hello-world.git
[submodule "div.homes/books"]
	path = div.homes/books
	url = git@divopsor:divopsor/div.homes-books.git
[submodule "div.homes/gtd"]
	path = div.homes/gtd
	url = git@divopsor:divopsor/div.homes-gtd.git
[submodule "div.homes/writer"]
	path = div.homes/writer
	url = git@divopsor:divopsor/div.homes-writer.git
[submodule "div.homes/box"]
	path = div.homes/box
	url = git@divopsor:divopsor/div.homes-box.git
[submodule "blog.creco.dev/post"]
	path = blog.creco.dev/post
	url = git@divopsor:divopsor/blog.creco.dev-post.git
[submodule "blog.creco.dev/ps"]
	path = blog.creco.dev/ps
	url = git@divopsor:divopsor/blog.creco.dev-ps.git
[submodule "blog.creco.dev/doodle"]
	path = blog.creco.dev/doodle
	url = git@divopsor:divopsor/blog.creco.dev-doodle.git
[submodule "blog.creco.dev/main"]
	path = blog.creco.dev/main
	url = git@divopsor:divopsor/blog.creco.dev-main.git
[submodule "blog.creco.dev/coffee-chat"]
	path = blog.creco.dev/coffee-chat
	url = git@divopsor:divopsor/blog.creco.dev-coffee-chat.git
